<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring­context.xsd">

	<bean id="feedbackToConsole" class="com.formation.service.FeedbackToConsole" />

	<bean id="useManagedBean" class="com.formation.user.UserInteraction">
		<property name="feedback" ref="feedbackToConsole" />
	</bean>
</beans>